
body{
    text-decoration: none;
}
.header_sub{
    display: flex;
    background-image:url(https://www.w3schools.com/images/background_in_space.gif);
    height: 40px;
    
    
}
.header_sub a{
    color: white;
    font-family: "Segoe UI",Arial,sans-serif;
    padding-left: 40px;

}

.header{
    background-image:url(https://www.w3schools.com/images/background_in_space.gif) ;
    display: flex;
    align-items: center;
    height: 500px;
}

.header1 a{
    font-size: 15px;
    font-weight: 800px;
    font-family: "Segoe UI",Arial,sans-serif;
    padding: 10px;
    color: white;
   
    
}
#html :hover{
    background-color: black;

}

.header_div1{
    justify-content: center;
    height: 400px;
    width: 600px;
    margin-left: 500px;
    
    
    
}
.header_div1 h1{
    font-size: 65px;
    font-weight: 700px;
    font-family: "Segoe UI",Arial,sans-serif;
    padding-left: 20px;
    color: white;
}
.header_div1 h3{
    padding-left: 20px;
    font-weight: 400px;
    font-family: "Segoe UI",Arial,sans-serif;
    color: yellow;
    font-size: 20px;
    
}
.header_div1 h4{
    font-size:20px;
    padding-left:80px ;
    color: white;
    font-weight: 400px;
    font-family: "Segoe UI",Arial,sans-serif;
}
.header_div1 input{
    height: 40px;
    width: 410px;
    padding-left: 20px;
   border-radius:30px;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   
   
   border: 0px;
   font-family: "Segoe UI",Arial,sans-serif;
}
.header_div1 button{
    height: 40px;
    width: 100px;
    border: 0px; 
    border-radius:30px ;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    background-color:#04AA6D;
    
}

.header_div1 button :hover{
    background-color: rgb(219, 227, 219);
    color: white;
}
.header_img{
    margin-left: 100px;
    
}

@media screen and (max-width:900px) {
    
    .header_img{
        display: none;
    }
    .header_div1{
        flex-direction: column;
    }
    .header_sub{
        display: none;
    }
    
}
@media screen and (max-width:500px) {
    .header{
        height: 500;
    }
    .header_img{
        display: none;
    }
    .header_div1{
        flex-direction: column;
        width: auto;
        height: auto;
        margin-top: 100;
        margin-left: 10;
    }
    .header_div1 h1{
        flex-direction: column;
        font-size: 40px;
        font-family: 100px;
    }
    .header_div1 h3{
        flex-direction: column;
        font-size: 20px;
        font-family: 100px;

    }
    .header_div1 input{
        width: 300px;
    }
    
}





