body{
    margin: 0px;
}


.html{
    background-color: #D9EEE1;
    padding-bottom: 30px;
    height: 700px;
    width: auto;
    display: flex;
    align-items:  center;
    
    
}

.html_div1{
    margin-right: 200px;
    margin-left: 400px;
    justify-content: center;
    
    
   
}
.html_div1_h1{
    padding-left: 20pxs;
}
.html_div1_button1 {
    background-color: #04AA6D;
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    margin: auto;
    display: block;
    height: 40px;
    width: 200px;
    border-radius: 25px;
}
.html_div1_button2 {
    background-color: #FFF4A3;
    color: black;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    margin: auto;
    display: block;
    height: 40px;
    width: 200px;
    border-radius: 25px;
}
.html_div1_button3 {
    background-color: #282A35;
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    margin: auto;
    display: block;
    height: 40px;
    width: 200px;
    border-radius: 25px;
}
.html_div1_button4 {
    background-color: #FFC0C7;
    font-weight: 300;
    color: black;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    margin: auto;
    display: block;
    height: 40px;
    width: 200px;
    border-radius: 25px;
}

.html_div2{
    background-color:#E7E9EB ;
    border-radius: 8px;
    height: 400px;
    width: 400px;
    padding-left: 20px;
    
    font-family: 'Source Sans Pro', sans-serif;
    
}
.html_div2_button{
    background-color: #04AA6D;
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    margin-top: 30px;
    display: block;
    height: 30px;
    width: 200px;
    border-radius: 25px;
   

}
.html_div2_div1{
    background-color: white;
    height: 250px;
    width:350px ;
    border-left: 5px solid green;
    padding-left: 10px;
    padding-top: 10px;
    
    
    
    
}
@media screen and (max-width:993px) {
   
    .html{
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        width: auto;
    }
    .html_div1{
        flex-direction: column;
        align-items: center;
        
        margin:30px;
    }
    .html_div2{
        flex-direction: column;
        width: 400px;
        
    }
    .html_div2_div1{
        width: 350px;
    }
    
}
@media screen and (max-width:510px){
    .html_div2{
        display:none;
        align-items: center;
        justify-content: center;
    }
   

    
}
@media screen and (min-width:993px) {
   
    .html{
        
        flex-direction: row;
        
        

    }
    
}

